<script setup lang="ts"></script>

<template>
  <v-card :loading="loading" class="mx-auto my-12" max-width="374">
    <template v-slot:loader="{ isActive }">
      <v-progress-linear
        :active="isActive"
        color="deep-purple"
        height="4"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img cover height="250" src="https://sv1.img.in.th/MEumr.jpeg"></v-img>

    <v-card-item>
      <v-card-title>นายภราดร ศิริจันทร์</v-card-title>
    </v-card-item>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating
          :model-value="4.5"
          color="amber"
          density="compact"
          half-increments
          readonly
          size="small"
        ></v-rating>

        <div class="text-grey ms-4">4.5 (413)</div>
      </v-row>

      <div class="my-4 text-subtitle-1">โปรแกรมเมอร์ชื่อดัง</div>

      <div>แม้หน้าตาเขาอาจธรรมดาแต่ความสามารถบอกได้เลยว่าไม่ธรรมดาแน่นอล</div>
    </v-card-text>

    <v-divider class="mx-4 mb-1"></v-divider>

    <v-card-title>เวลาที่สามารถรับงาน</v-card-title>

    <div class="px-4">
      <v-chip-group v-model="selection">
        <v-chip>24/7</v-chip>
      </v-chip-group>
    </div>

    <v-card-actions>
      <v-btn color="deep-purple-lighten-2" variant="text" @click="Reserve">
        จ้างงาน
      </v-btn>
    </v-card-actions>
  </v-card>

  <v-container>
    <h1 style="text-align: center">ประวัติการศึกษา</h1>
    <v-row>
      <v-col>
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template v-slot:loader="{ isActive }">
            <v-progress-linear
              :active="isActive"
              color="deep-purple"
              height="4"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            cover
            height="250"
            src="https://map.longdo.com/files/images/2019/02/20/phpsjhvhE"
          ></v-img>

          <v-card-item>
            <v-card-title>โรงเรียนวัดหนองเค็ด</v-card-title>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :model-value="5.0"
                color="amber"
                density="compact"
                half-increments
                readonly
                size="small"
              ></v-rating>

              <div class="text-grey ms-4">5.0</div>
            </v-row>

            <div class="my-4 text-subtitle-1">โรงเรียนประถมศึกษา</div>

            <div>จบออกจากที่นี่ด้วยเกรด 3.5ในชั้นประถมศึกษาปีที่ 6</div>
          </v-card-text>
        </v-card></v-col
      >

      <v-col>
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template v-slot:loader="{ isActive }">
            <v-progress-linear
              :active="isActive"
              color="deep-purple"
              height="4"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            cover
            height="250"
            src="http://lh3.googleusercontent.com/kGYrzr6VaEH5pqtdKmQJgIf6JmpJSttyWj37gMGOE3QgpZVL9luDFhe7s7dbTCqoJ2zQRX1JWSW_BfHZmcMHDPqfXw"
          ></v-img>

          <v-card-item>
            <v-card-title>โรงเรียนวัดโสธรวรารามวรวิหาร</v-card-title>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :model-value="4.5"
                color="amber"
                density="compact"
                half-increments
                readonly
                size="small"
              ></v-rating>

              <div class="text-grey ms-4">4.5 (235)</div>
            </v-row>

            <div class="my-4 text-subtitle-1">โรงเรียนมัธยม</div>

            <div>จบออกจากชั้นมัธยมศึกษาปีที่ 3 ด้วยเกรด2.99 ห้องวิทย์ คณิต</div>
          </v-card-text>
        </v-card></v-col
      >
      <v-col>
        <v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template v-slot:loader="{ isActive }">
            <v-progress-linear
              :active="isActive"
              color="deep-purple"
              height="4"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            cover
            height="250"
            src="https://image.makewebeasy.net/makeweb/0/9JBOiaFS4/DefaultData/bc01_1.jpg?v=202012190947"
          ></v-img>

          <v-card-item>
            <v-card-title>โรงเรียนเบญจมราชรังสฤษฏิ์</v-card-title>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :model-value="4.5"
                color="amber"
                density="compact"
                half-increments
                readonly
                size="small"
              ></v-rating>

              <div class="text-grey ms-4">4.5 (413)</div>
            </v-row>

            <div class="my-4 text-subtitle-1">โรงเรียนมัธยม</div>

            <div>เรียนห้องวิทย์ คณิต และจบออกมาที่เกรด 3.5</div>
          </v-card-text>
        </v-card></v-col
      >
    </v-row>
    <h2 style="text-align: center">ปัจจุบันศึกษาอยู่ที่มหาวิทยาลัยบูรพา</h2>
    <h3 style="text-align: center">สาขาวิทยาการคอมพิวเตอร์</h3>
    <v-row>
      <v-col
        ><v-card :loading="loading" class="mx-auto my-12" max-width="374">
          <template v-slot:loader="{ isActive }">
            <v-progress-linear
              :active="isActive"
              color="deep-purple"
              height="4"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            cover
            height="250"
            src="https://thaiuniversityblog.files.wordpress.com/2016/02/buu0001.jpeg"
          ></v-img>

          <v-card-item>
            <v-card-title>มหาวิทยาลัยบูรพา</v-card-title>
          </v-card-item>

          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :model-value="5"
                color="amber"
                density="compact"
                half-increments
                readonly
                size="small"
              ></v-rating>

              <div class="text-grey ms-4">5.0 (999)</div>
            </v-row>

            <div class="my-4 text-subtitle-1">มหาวิทยาลัย</div>

            <div>กำลังศึกษา เอาตัวรอดให้ผ่านพ้นเอฟไปในแต่ละวัน</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <h1 style="text-align: center">สิ่งที่สนใจ</h1>
    <v-parallax src="https://sv1.img.in.th/MznaD.jpeg">
      <div
        class="d-flex flex-column fill-height justify-center align-center text-white"
      >
        <h1>การท่องเที่ยว</h1>
      </div>
    </v-parallax>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        id: 1,
        color: "info",
        icon: "mdi-information",
      },
      {
        id: 2,
        color: "error",
        icon: "mdi-alert-circle",
      },
    ],
  }),
};
</script>
